@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
/* ============ Hero ============ */
@media all and (min-width: 1024px){
#header{
    //margin-top: 85px;
    height: 510px;
    max-width: 1500px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .9), rgba(255, 254, 254, .2)),
    url("https://swissbasketdemo.netlify.app/static/media/background-txt.5b25f2f85c13cdff99df.jpg");
    background-size: cover;
    .style-title {
        position: absolute;
        font-size: 300px;
        font-size: 99px;
        line-height: 85px;
        left: 2%;
        top: -49px;
        transform: rotate(0deg); /* Gardez cette rotation, supprimez la suivante */
        z-index: 0 !important; /* Assurez-vous que cet élément est derrière les autres */
        font-family: 'Passion One', sans-serif !important; /* Ajoutez des guillemets pour les polices avec des espaces */
        font-weight: 400;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #000; /* Ajoutez un contour noir */
        color: transparent;
        span{
            color: rgb(175, 175, 175);
            -webkit-text-stroke: 2px #ffffff;
        }
    }
    
    .article-title{
        position: absolute !important;
        top: 86px;
        width: fit-content;
        height: fit-content;
        margin: 0 !important;
        color: rgb(255, 255, 255);
        left: -100px;
        z-index: 1;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        transform: rotate(90deg);
        transition: all 300ms ease-in 0s;
        background-color: #dd0741;
        padding-left: 1.2em;
        padding-right: 1.2em;
        border: 2px white solid;
    }
    #container-slide{
        height: 100%;
        max-width: 1600px;
        margin: auto;
        width: 60%;
        position: relative;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 5;
        /* Carroussel wrapper */ 
        .container { 
            z-index: 1;
            /* Slides */ 
            background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0) 30%);
            background-position: 0% 50% center !important;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end !important;
            align-items: flex-start;
            flex-direction: column;
            position: absolute;
            top: 0; 
            left: 0;
            //left: 0;
            transition: all 0.8s ease-out;
            height: 100%;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
            .text{
                width: 70%;
                padding: 2em;
                color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.8rem;
                    text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                    position: relative;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute; 
                        left: 0; 
                        bottom: -8px; 
                        border-bottom: 1.2px white solid; 
                        z-index: 2;
                    }
                }
                .link{
                    display: flex;
                    column-gap: 8px;
                    text-decoration: none;
                    font-weight: 500;
                    color: white;
                    font-size: 1.4rem;
                    font-family: 'Lato';
                }
            }
            .hero-block1{

                .text-container{
                    width: 38%;
                    height: 60%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    .text-wrap{
                        align-self: flex-end;
                        width: 95%;
                        z-index: 1;
                        float: right;
                        padding: 8px;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        row-gap: 8px;
                        position: relative; 
                        &::after{
                            content: '';
                            width: 95%;
                            height: 100%;
                            position: absolute; 
                            left: 0; 
                            bottom: -25px; 
                            border-bottom: 1.2px white solid; 
                            z-index: 2;
                            margin-left: 8px;
                        }
                        .progress{
                        height: 3px;
                        width: 0%;
                        background-color: red;
                        }
                        h1{
                            font-family: 'Roboto Condensed';
                            text-transform: uppercase;
                            text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                            font-weight: 700;
                            letter-spacing: 2px;
                            color: white;
                        }
                        .subtitle{
                            font-family: 'Lato';
                            font-weight: 400;
                        }
                        .bouton-action{
                        width: 40%;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        font-size: 1.1vw;
                        border-radius: 10em;
                        text-overflow: ellipsis;
                        line-height: 1.25;
                        position: relative;
                        z-index: 3;
                        transition: 0.3s ease-out all;
                        span{
                            margin-right: 25px;
                        }
                        
                        &::before{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            width: 0%;
                            padding: 8px;
                            top: 50%; 
                            left: 0px;
                            transition: left .4s ease-in-out, width .4s linear, height .4s linear;
                            transform: translate(0, -50%);
                            border-radius: 10em;
                            
                            pointer-events: none;
                            background-color: red;
                            
                            }
                        &:hover::before{
                            width: 90%;
                            padding: 14px;    
                        }
                        
                    }
                    }
                }
            }
        }
        /* PREVIEW SLIDE */
        .preview_container{
            position: absolute;
            right: 0px;
            margin-right: -100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 12px;
            height: 100%;
            //width: ;
            //height: 120px;
            z-index: 7;
            padding-right: 2em;
            .previewBanner{
                width: 180px;
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 2px white solid;
                //border-left: 3px white solid;
                transition: 0.6s ease-in-out;
                position: relative;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                &:hover{
                    height: 120px;
                    .imagePreview_container{
                        img{
                            transform: scale(1.3);
                            filter: grayscale(0);
                        }
                    }
                }
                .progressBar{
                    width: 3px;
                    position: absolute;
                    left: -10px;
                    top: 0;
                    background-color: rgba(255, 255, 255, 0.3);
                    z-index: 4;
                    border-radius: 0.4rem 0rem 0.4rem 0rem;
                }
                .imagePreview_container{
                    width: 100%; 
                    height: 90px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        position: relative;
                        opacity: 0.8;
                        filter: blur(1px);
                        filter: grayscale(0.7);
                        transition: 0.6s ease;
                    }
                }
                h2{
                    margin-top: 0px !important; 
                    margin-bottom: 0px !important;
                    text-align: left;
                    color: rgb(2, 2, 2); 
                    text-transform: uppercase;
                    font-family: 'Roboto Condensed';
                    padding: 4px;
                    font-size: 0.7em;
                    font-weight: 600;
                    line-height: 0.9rem;
                }
            }
            .active{
                width: 180px;
                height: 120px;
                background-color: red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 3px solid #e2e8f0;
                
                transition: 0.6s ease-in-out;
                position: relative;
                transform: scale(1.07);
                
                .progressBar{
                    width: 4px;
                    position: absolute;
                    left: -4px;
                    top: 0;
                    background-color: red;
                    z-index: 4;
                }
                .imagePreview_container{
                    width: 100%; 
                    height: 90px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        position: relative;
                        opacity: 0.8;
                        filter: blur(1px);
                        filter: grayscale(0.7);
                        transition: 0.6s ease;
                    }
                }
                h2{
                    margin-top: 0px !important; 
                    margin-bottom: 0px !important;
                    text-align: left;
                    color: white; 
                    text-transform: uppercase;
                    font-family: 'Roboto Condensed';
                    padding: 4px;
                    font-size: 0.7em;
                    font-weight: 700;
                    line-height: 1em;
                }
            }
            
        }
        /* Extra */
        .arrow-block{
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 2;
            position: absolute;
            .arrow{
                height: 100%;
                width: 60px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                color: white;
                align-items: center;
                background-color: black;
                &:hover{
                    background-image: linear-gradient(to right top, #e00d);            
                    .active{

                background-image: linear-gradient(to right top, #e00d)}
                    }
            }
        }
    }
}
}
@media all and (max-width: 1024px) and (min-width: 768px){
    #header{
        //margin-top: 85px;
        height: 510px;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .9), rgba(255, 254, 254, .2)),
        url("https://swissbasketdemo.netlify.app/static/media/background-txt.5b25f2f85c13cdff99df.jpg");
        background-size: cover;
        .style-title {
            display: none;
        }
        .article-title{
            position: absolute !important;
            top: 86px;
            left: -101px;
            width: fit-content;
            height: fit-content;
            margin: 0 !important;
            color: rgb(255, 255, 255);
            z-index: 1;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 700;
            transform: rotate(90deg);
            transition: all 300ms ease-in 0s;
            background-color: #dd0741;
            padding-left: 1.2em;
            padding-right: 1.2em;
            border: 2px white solid;
        }
        #container-slide{
            height: 70%;
            max-width: 1600px;
            margin: auto;
            width: 70%;
            position: relative;
            display: flex;
            justify-content: center;
            position: relative;
            /* Carroussel wrapper */ 
            .container { 
                z-index: 1;
                /* Slides */ 
                background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0) 30%);
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end !important;
                align-items: flex-start;
                flex-direction: column;
                position: absolute;
                top: 0; 
                left: 0;
                //left: 0;
                transition: all 0.8s ease-out;
                height: 100%;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                .text{
                    width: 70%;
                    padding: 2em;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .title{
                        font-family: 'Roboto Condensed';
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.8rem;
                        text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                        position: relative;
                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute; 
                            left: 0; 
                            bottom: -8px; 
                            border-bottom: 1.2px white solid; 
                            z-index: 2;
                        }
                    }
                    .link{
                        display: flex;
                        column-gap: 8px;
                        text-decoration: none;
                        font-weight: 500;
                        color: white;
                        font-size: 1.4rem;
                        font-family: 'Lato';
                    }
                }
                .hero-block1{
    
                    .text-container{
                        width: 38%;
                        height: 60%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        .text-wrap{
                            align-self: flex-end;
                            width: 95%;
                            z-index: 1;
                            float: right;
                            padding: 8px;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            row-gap: 8px;
                            position: relative; 
                            &::after{
                                content: '';
                                width: 95%;
                                height: 100%;
                                position: absolute; 
                                left: 0; 
                                bottom: -25px; 
                                border-bottom: 1.2px white solid; 
                                z-index: 2;
                                margin-left: 8px;
                            }
                            .progress{
                            height: 3px;
                            width: 0%;
                            background-color: red;
                            }
                            h1{
                                font-family: 'Roboto Condensed';
                                text-transform: uppercase;
                                text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                                font-weight: 700;
                                letter-spacing: 2px;
                                color: white;
                            }
                            .subtitle{
                                font-family: 'Lato';
                                font-weight: 400;
                            }
                            .bouton-action{
                            width: 40%;
                            text-transform: uppercase;
                            color: white;
                            text-decoration: none;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            font-size: 1.1vw;
                            border-radius: 10em;
                            text-overflow: ellipsis;
                            line-height: 1.25;
                            position: relative;
                            z-index: 3;
                            transition: 0.3s ease-out all;
                            span{
                                margin-right: 25px;
                            }
                            
                            &::before{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                width: 0%;
                                padding: 8px;
                                top: 50%; 
                                left: 0px;
                                transition: left .4s ease-in-out, width .4s linear, height .4s linear;
                                transform: translate(0, -50%);
                                border-radius: 10em;
                                
                                pointer-events: none;
                                background-color: red;
                                
                                }
                            &:hover::before{
                                width: 90%;
                                padding: 14px;    
                            }
                            
                        }
                        }
                    }
                }
            }
            /* PREVIEW SLIDE */
            .preview_container{
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 12px;
                //height: 100%;
                //width: ;
                //height: 120px;
                z-index: 7;
                margin-bottom: -95px;
                .previewBanner{
                    width: 180px;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px white solid;
                    //border-top: 3px white solid;
                    transition: 0.6s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                    &:hover{
                        height: 120px;
                        .imagePreview_container{
                            img{
                                transform: scale(1.3);
                                filter: grayscale(0);
                            }
                        }
                    }
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        background-color: rgba(255, 255, 255, 0.3);
                        z-index: 4;
                        border-radius: 0.4rem 0rem 0.4rem 0rem;
                    }
                    .imagePreview_container{
                        width: 100%; 
                        height: 90px;
                        display: none;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: rgb(2, 2, 2); 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 600;
                        line-height: 0.9rem;
                    }
                }
                .active{
                    width: 180px;
                    height: 120px;
                    background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-top: 3px solid #e2e8f0;
                    
                    transition: 0.6s ease-in-out;
                    position: relative;
                    transform: scale(1.07);
                    
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        background-color: red;
                        z-index: 4;
                    }
                    .imagePreview_container{
                        width: 100%; 
                        height: 90px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: white; 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 700;
                        line-height: 1em;
                    }
                }
                
            }
            /* Extra */
            .arrow-block{
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 2;
                position: absolute;
                .arrow{
                    height: 100%;
                    width: 60px;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    color: white;
                    align-items: center;
                    background-color: black;
                    &:hover{
                        background-image: linear-gradient(to right top, #e00d);            
                        .active{
    
                    background-image: linear-gradient(to right top, #e00d)}
                        }
                }
            }
        }
    }
    }

@media all and (max-width: 768px) and (min-width: 420px){
    #header{
        //margin-top: 85px;
        height: 510px;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .9), rgba(255, 254, 254, .2)),
        url("https://swissbasketdemo.netlify.app/static/media/background-txt.5b25f2f85c13cdff99df.jpg");
        background-size: cover;
        .style-title {
            display: none;
        }
        .article-title{
            position: absolute !important;
            top: 86px;
            left: -100px;
            width: fit-content;
            height: fit-content;
            margin: 0 !important;
            color: rgb(255, 255, 255);
            z-index: 1;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 700;
            transform: rotate(90deg);
            transition: all 300ms ease-in 0s;
            background-color: #dd0741;
            padding-left: 1.2em;
            padding-right: 1.2em;
            border: 2px white solid;
        }
        #container-slide{
            height: 65%;
            max-width: 1600px;
            margin: auto;
            width: 80%;
            position: relative;
            display: flex;
            justify-content: center;
            position: relative;
            /* Carroussel wrapper */ 
            .container { 
                z-index: 1;
                /* Slides */ 
                background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0) 30%);
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end !important;
                align-items: flex-start;
                flex-direction: column;
                position: absolute;
                top: 0; 
                left: 0;
                //left: 0;
                transition: all 0.8s ease-out;
                height: 100%;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                .text{
                    width: 70%;
                    padding: 2em;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .title{
                        font-family: 'Roboto Condensed';
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.5rem;
                        text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                        position: relative;
                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute; 
                            left: 0; 
                            bottom: -8px; 
                            border-bottom: 1.2px white solid; 
                            z-index: 2;
                        }
                    }
                    .link{
                        display: flex;
                        column-gap: 8px;
                        text-decoration: none;
                        font-weight: 500;
                        color: white;
                        font-size: 1.4rem;
                        font-family: 'Lato';
                    }
                }
                .hero-block1{
    
                    .text-container{
                        width: 38%;
                        height: 60%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        .text-wrap{
                            align-self: flex-end;
                            width: 95%;
                            z-index: 1;
                            float: right;
                            padding: 8px;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            row-gap: 8px;
                            position: relative; 
                            &::after{
                                content: '';
                                width: 95%;
                                height: 100%;
                                position: absolute; 
                                left: 0; 
                                bottom: -25px; 
                                border-bottom: 1.2px white solid; 
                                z-index: 2;
                                margin-left: 8px;
                            }
                            .progress{
                            height: 3px;
                            width: 0%;
                            background-color: red;
                            }
                            h1{
                                font-family: 'Roboto Condensed';
                                text-transform: uppercase;
                                text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                                font-weight: 700;
                                letter-spacing: 2px;
                                color: white;
                            }
                            .subtitle{
                                font-family: 'Lato';
                                font-weight: 400;
                            }
                            .bouton-action{
                            width: 40%;
                            text-transform: uppercase;
                            color: white;
                            text-decoration: none;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            font-size: 1.1vw;
                            border-radius: 10em;
                            text-overflow: ellipsis;
                            line-height: 1.25;
                            position: relative;
                            z-index: 3;
                            transition: 0.3s ease-out all;
                            span{
                                margin-right: 25px;
                            }
                            
                            &::before{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                width: 0%;
                                padding: 8px;
                                top: 50%; 
                                left: 0px;
                                transition: left .4s ease-in-out, width .4s linear, height .4s linear;
                                transform: translate(0, -50%);
                                border-radius: 10em;
                                
                                pointer-events: none;
                                background-color: red;
                                
                                }
                            &:hover::before{
                                width: 90%;
                                padding: 14px;    
                            }
                            
                        }
                        }
                    }
                }
            }
            /* PREVIEW SLIDE */
            .preview_container{
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 12px;
                //height: 100%;
                //width: ;
                //height: 120px;
                z-index: 7;
                margin-bottom: -95px;
                .previewBanner{
                    width: 30%;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px white solid;
                    //border-top: 3px white solid;
                    transition: 0.6s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                    &:hover{
                        height: 120px;
                        .imagePreview_container{
                            img{
                                transform: scale(1.3);
                                filter: grayscale(0);
                            }
                        }
                    }
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        background-color: rgba(255, 255, 255, 0.3);
                        z-index: 4;
                        border-radius: 0.4rem 0rem 0.4rem 0rem;
                    }
                    .imagePreview_container{
                        width: 100%; 
                        height: 90px;
                        display: none;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: rgb(2, 2, 2); 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 600;
                        line-height: 0.9rem;
                    }
                }
                .active{
                    width: 180px;
                    height: 120px;
                    background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-top: 3px solid #e2e8f0;
                    
                    transition: 0.6s ease-in-out;
                    position: relative;
                    transform: scale(1.07);
                    
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        background-color: red;
                        z-index: 4;
                    }
                    .imagePreview_container{
                        width: 100%; 
                        height: 90px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: white; 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 700;
                        line-height: 1em;
                    }
                }
                
            }
            /* Extra */
            .arrow-block{
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 2;
                position: absolute;
                .arrow{
                    height: 100%;
                    width: 60px;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    color: white;
                    align-items: center;
                    background-color: black;
                    &:hover{
                        background-image: linear-gradient(to right top, #e00d);            
                        .active{
    
                    background-image: linear-gradient(to right top, #e00d)}
                        }
                }
            }
        }
    }
}
@media all and (max-width: 420px){
    #header{
        //margin-top: 85px;
        height: 510px;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .9), rgba(255, 254, 254, .2)),
        url("https://swissbasketdemo.netlify.app/static/media/background-txt.5b25f2f85c13cdff99df.jpg");
        background-size: cover;
        .style-title {
            display: none;
        }
        .article-title{
            position: absolute !important;
            bottom: -31px;
            left: 0px;
            width: fit-content;
            height: fit-content;
            margin: 0 !important;
            color: rgb(23, 22, 22);
            z-index: 20;
            text-transform: uppercase;
            font-size: 1.08rem;
            font-weight: 700;
            transition: all 300ms ease-in 0s;
        }
        #container-slide{
            height: 65%;
            max-width: 1600px;
            margin: auto;
            width: 90%;
            position: relative;
            display: flex;
            justify-content: center;
            position: relative;
            /* Carroussel wrapper */ 
            .container { 
                z-index: 1;
                /* Slides */ 
                background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0) 30%);
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end !important;
                align-items: flex-start;
                flex-direction: column;
                position: absolute;
                top: 0; 
                left: 0;
                //left: 0;
                transition: all 0.8s ease-out;
                height: 100%;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                .text{
                    width: 70%;
                    padding: 2em;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .title{
                        font-family: 'Roboto Condensed';
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.4rem;
                        text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                        position: relative;
                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute; 
                            left: 0; 
                            bottom: -8px; 
                            border-bottom: 1.2px white solid; 
                            z-index: 2;
                        }
                    }
                    .link{
                        display: flex;
                        column-gap: 8px;
                        text-decoration: none;
                        font-weight: 500;
                        color: white;
                        font-size: 1.4rem;
                        font-family: 'Lato';
                    }
                }
                .hero-block1{
    
                    .text-container{
                        width: 38%;
                        height: 60%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        .text-wrap{
                            align-self: flex-end;
                            width: 95%;
                            z-index: 1;
                            float: right;
                            padding: 8px;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            row-gap: 8px;
                            position: relative; 
                            &::after{
                                content: '';
                                width: 95%;
                                height: 100%;
                                position: absolute; 
                                left: 0; 
                                bottom: -25px; 
                                border-bottom: 1.2px white solid; 
                                z-index: 2;
                                margin-left: 8px;
                            }
                            .progress{
                            height: 3px;
                            width: 0%;
                            background-color: red;
                            }
                            h1{
                                font-family: 'Roboto Condensed';
                                text-transform: uppercase;
                                text-shadow: 2px 3px 8px rgba(0,0,0,0.31);
                                font-weight: 700;
                                letter-spacing: 2px;
                                color: white;
                            }
                            .subtitle{
                                font-family: 'Lato';
                                font-weight: 400;
                            }
                            .bouton-action{
                            width: 40%;
                            text-transform: uppercase;
                            color: white;
                            text-decoration: none;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            font-size: 1.1vw;
                            border-radius: 10em;
                            text-overflow: ellipsis;
                            line-height: 1.25;
                            position: relative;
                            z-index: 3;
                            transition: 0.3s ease-out all;
                            span{
                                margin-right: 25px;
                            }
                            
                            &::before{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                width: 0%;
                                padding: 8px;
                                top: 50%; 
                                left: 0px;
                                transition: left .4s ease-in-out, width .4s linear, height .4s linear;
                                transform: translate(0, -50%);
                                border-radius: 10em;
                                
                                pointer-events: none;
                                background-color: red;
                                
                                }
                            &:hover::before{
                                width: 90%;
                                padding: 14px;    
                            }
                            
                        }
                        }
                    }
                }
            }
            /* PREVIEW SLIDE */
            .preview_container{
                position: absolute;
                width: 95%;
                bottom: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 12px;
                //height: 100%;
                //width: ;
                //height: 120px;
                z-index: 7;
                margin-bottom: -105px;
                .previewBanner{
                    width: 30%;
                    height: 6px;
                    border-radius: 6px;
                    cursor: pointer;
                    border: 2px white solid;
                    background-color: rgb(201, 201, 201);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //border-top: 3px white solid;
                    transition: 0.6s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 16px -4px;
                    &:hover{
                        height: 120px;
                        .imagePreview_container{
                            img{
                                transform: scale(1.3);
                                filter: grayscale(0);
                            }
                        }
                    }
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        background-color: rgba(255, 255, 255, 0.3);
                        z-index: 4;
                        border-radius: 0.4rem 0rem 0.4rem 0rem;
                    }
                    .imagePreview_container{
                        width: 100%; 
                        height: 90px;
                        display: none;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        display: none;
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: rgb(2, 2, 2); 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 600;
                        line-height: 0.9rem;
                    }
                }
                .active{
                    width: 60%;
                    height: 60px;
                    background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-top: 3px solid #e2e8f0;
                    
                    transition: 0.6s ease-in-out;
                    position: relative;
                    transform: scale(1.07);
                    
                    .progressBar{
                        height: 4px;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        background-color: red;
                        z-index: 4;
                    }
                    .imagePreview_container{
                        display: none;
                        width: 100%; 
                        height: 90px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            position: relative;
                            opacity: 0.8;
                            filter: blur(1px);
                            filter: grayscale(0.7);
                            transition: 0.6s ease;
                        }
                    }
                    h2{
                        margin-top: 0px !important; 
                        margin-bottom: 0px !important;
                        text-align: left;
                        color: white; 
                        text-transform: uppercase;
                        font-family: 'Roboto Condensed';
                        padding: 4px;
                        font-size: 0.7em;
                        font-weight: 700;
                        line-height: 1em;
                    }
                }
                
            }
            /* Extra */
            .arrow-block{
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 2;
                position: absolute;
                .arrow{
                    height: 100%;
                    width: 60px;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    color: white;
                    align-items: center;
                    background-color: black;
                    &:hover{
                        background-image: linear-gradient(to right top, #e00d);            
                        .active{
    
                    background-image: linear-gradient(to right top, #e00d)}
                        }
                }
            }
        }
    }
}