.wishlist-section {
    width: 100%;
    padding: 2em 0;
    background-color: #f9f9f9;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1em;
      h2 {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2rem;
        color: #333;
      }
  
      .wishlist-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5em;
      }
  
      .wishlist-item {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        overflow: hidden;
        transition: all 0.9s ease;
        
        // &:hover {
        //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        // }
  
        .item-image {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
  
        .item-details {
          padding: 1em;
  
          h3 {
            font-size: 1.2rem;
            color: #333;
            margin-bottom: 0.5em;
            transition: color 0.3s ease;
            
            &:hover {
              color: #b8113b;
            }
          }
  
          p {
            font-size: 1rem;
            color: #888;
            margin-bottom: 1em;
          }
  
          .remove-button {
            display: flex;
            align-items: center;
            background-color: #db0840;
            color: #fff;
            border: none;
            padding: 0.5em 1em;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
  
            svg {
              margin-right: 0.5em;
            }
  
            &:hover {
              background-color: #a9002b;
            }
          }
        }
      }
    }
  }
  