#boutique {
    width: 100%;

    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      position: relative;
      padding-top: 4em;
      padding-bottom: 4em;
      margin: auto;

      .title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-family: 'Roboto Condensed';
          text-transform: uppercase;
          display: inline-block;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 15px;
          padding-right: 15px;
          background-color: #0c0c0c;
          border-radius: 20px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1.2;
          color: white;
        }
        .link {
          text-decoration: none;
          color: black;
          font-family: 'Roboto Condensed';
          padding: 0.8rem;
          border: 1px rgb(221, 7, 65) solid;
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
        }
      }

      .cart-container {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;

        .cart {
          display: flex;
          flex-direction: column;
          position: relative;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;

          &:hover {
            transform: scale(1.03);
            z-index: 10;
            .like {
              .icone {
                color: rgb(221, 7, 65);
              }
            }
          }

          .image-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 210px;
            border-bottom: 0.7px rgb(143, 143, 143) solid;
            position: relative;
            padding: 0px !important;

            .image {
              height: 100%;
            }

            .new {
              position: absolute;
              bottom: 0;
              left: 0;
              margin-left: 10px;
              margin-bottom: -10px;
              color: white;
              text-transform: uppercase;
              border-radius: 10px;
              font-size: 13px;
              height: 19px;
              line-height: normal;
              padding: 1px 16px 1px 16px;
              // background-color: rgb(250, 213, 10);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .title-cart {
            font-size: 90% !important;
            font-weight: 400;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding: 0.9em;
            text-decoration: none;
            color: black;
          }

          .text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0.9em;
            padding-right: 0.9em;
            border-top: 0.7px #8f8f8f solid;

            .price {
              font-size: 100% !important;
              font-weight: 600;
              color: rgb(17, 16, 16);
              text-transform: uppercase;
              margin-bottom: 0px !important;
              margin-top: 0px !important;
            }

            .link {
              font-size: 100% !important;
              font-weight: 600;
              text-transform: uppercase;
              text-decoration: none;
              border: 1px #e4e8eb solid;
              color: rgb(0, 0, 0);
              padding: 0.4em;
              font-family: 'Roboto Condensed';
              font-style: normal !important;
              transition: 0.4s ease-in-out;
              cursor: pointer;

              &:hover {
                background-color: rgb(221, 7, 65);
                border: none;
                color: white;
              }
            }
          }

          .like {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 40px;
            height: 40px;

            .icone {
              font-size: 1.4em;
              transition: all 0.3s ease;
              text-decoration: none;
              color: white;
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
            height: 100vh; // Hauteur égale à la hauteur de la fenêtre
          }
        }
      }
    }
  }
.buttonAdded{
  background-color: rgb(221, 7, 65);
  color: white !important;
}

@media all and (min-width: 1250px) {
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 10fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 280px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
  }
@media all and (max-width: 1250px) and (min-width: 1024px){
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 10fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 290px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
}

@media all and (max-width: 1024px) and (min-width: 740px){
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 8fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 290px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
}

@media all and (max-width: 740px) and (min-width: 420px){
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 6fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 280px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
}

@media all and (max-width: 740px) and (min-width: 435px){
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 6fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 280px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
}
@media all and (max-width: 435px){
    #boutique {
      width: 100%;
  
      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        padding-top: 4em;
        padding-bottom: 4em;
        margin: auto;
  
        .cart-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 2fr);
          grid-template-rows: repeat(auto-fit, minmax(0, 280px));
          grid-auto-rows: minmax(auto);
          gap: 20px;
          align-items: center;
          justify-content: center;
  
          .cart {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.03);
              z-index: 10;
              .like {
                .icone {
                  color: rgb(221, 7, 65);
                }
              }
            }
  
            .image-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 210px;
              border-bottom: 0.7px rgb(143, 143, 143) solid;
              position: relative;
              padding: 0px !important;
  
              .image {
                height: 100%;
              }
  
              .new {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 10px;
                margin-bottom: -10px;
                color: white;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 13px;
                height: 19px;
                line-height: normal;
                padding: 1px 16px 1px 16px;
                // background-color: rgb(250, 213, 10);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
  
            .title-cart {
              font-size: 90% !important;
              font-weight: 400;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding: 0.9em;
              text-decoration: none;
              color: black;
            }
  
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 0.9em;
              padding-right: 0.9em;
              border-top: 0.7px #8f8f8f solid;
  
              .price {
                font-size: 100% !important;
                font-weight: 600;
                color: rgb(17, 16, 16);
                text-transform: uppercase;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              }
  
              .link {
                font-size: 100% !important;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: 1px #e4e8eb solid;
                color: rgb(0, 0, 0);
                padding: 0.4em;
                font-family: 'Roboto Condensed';
                font-style: normal !important;
                transition: 0.4s ease-in-out;
                cursor: pointer;
  
                &:hover {
                  background-color: rgb(221, 7, 65);
                  border: none;
                  color: white;
                }
              }
            }
  
            .like {
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 40px;
              height: 40px;
  
              .icone {
                font-size: 1.4em;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
              }
            }
  
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
              height: 100vh; // Hauteur égale à la hauteur de la fenêtre
            }
          }
        }
      }
    }
}


   

/* --- TEST -- */
/*
@media all and (min-width: 1024px){
    #boutique{
        width: 100%;
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            padding-top: 4em;
            padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .link{
                    text-decoration: none;
                    color: black;
                    font-family: 'Roboto Condensed';
                    margin-right: 15px;
                    padding: 0.8rem;
                    border: 1px rgb(221, 7, 65) solid;
                }
            }
            .cart-container{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(8, 11%) !important;
                grid-auto-rows: minmax(auto);
                gap: 20px;
                align-items: center;
                justify-content: center;
                .cart{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    grid-column: auto/span 2;
                    grid-row: auto/span 1;
                    position: relative;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
                    &:hover {
                        
                        .like {
                            .icone{
                                color: rgb(221, 7, 65);
                            }
                        }
                      }
                    .image-container{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 210px;
                        border: 0.7px rgb(143, 143, 143) solid;
                        position: relative;
                        padding: 0px !important;
                        .image{
                            height: 100%;
                        }
                        .new{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            margin-left: 10px;
                            margin-bottom: -10px;
                            color: white; 
                            text-transform: uppercase;
                            border-radius: 10px;
                            font-size: 13px;
                            height: 19px;
                            line-height: normal;
                            padding: 1px 16px 1px 16px;
                            background-color: rgb(250, 213, 10);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .title-cart{
                        font-size: 90%  !important;
                        font-weight: 400;
                        margin-top: 0 !important;
                        margin-bottom : 0 !important;
                        padding: 1.3em 0.9em 1.3em 0.9em !important;
                        text-decoration: none;
                        color: black;
                        &:hover{
                            background-color: #E4E8EB;
                        }
                    }
                    .text{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 0.9em;
                        padding-right: 0.9em;
                        border-top: 1px #E4E8EB solid;
                        
                        .price{
                            font-size: 1rem;
                            font-weight: 600;
                            color: rgb(17, 16, 16);
                            text-transform: uppercase;
                            margin-bottom: 0px !important;
                            margin-top: 0px !important;
    
                        }
                        .link{
                            font-size: 100% !important;
                            font-weight: 600;
                            text-transform: uppercase;
                            text-decoration: none;
                            border: 1px #E4E8EB solid;
                            color: rgb(0, 0, 0);
                            padding: 0.4em;
                            font-family: 'Roboto Condensed';
                            font-style: normal !important;
                            &:hover{
                                background-color: rgb(221, 7, 65);
                                border: none;  
                                color: white; 
                            }
    
                        }
                    }
                    .like{
                        position: absolute;
                        top: 0; 
                        right: 0;
                        margin-top: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        width: 40px;
                        height: 40px;
                        
                        .icone{
                            font-size: 1.4em;
                            transition: all 0.3s ease;
                            text-decoration: none;
                            color: white;
    
                        }
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
                        height: 100vh; // Hauteur égale à la hauteur de la fenêtre
                      
                
                      
                    
                      }
                      
                }
            }
        }
    }
}

@media all and (max-width: 1024px) and (min-width: 425px){
    #boutique{
        width: 100%;
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            padding-top: 4em;
            padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .link{
                    text-decoration: none;
                    color: black;
                    font-family: 'Roboto Condensed';
                    margin-right: 15px;
                    padding: 0.8rem;
                    border: 1px rgb(221, 7, 65) solid;
                }
            }
            .cart-container{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(6, 114px) !important;
                grid-auto-rows: minmax(auto);
                gap: 20px;
                align-items: center;
                justify-content: center;
                .cart{
                    grid-column: auto/span 2 !important;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    position: relative;
                    background-color: white;
                    border: none !important;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
                    &:hover {
                        
                        .like {
                            .icone{
                                color: rgb(221, 7, 65);
                            }
                        }
                      }
                    .image-container{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 210px;
                        position: relative;
                        padding: 0px !important;
                        .image{
                            height: 75%;
                        }
                        .new{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            margin-left: 10px;
                            margin-bottom: -10px;
                            color: white; 
                            text-transform: uppercase;
                            border-radius: 10px;
                            font-size: 13px;
                            height: 19px;
                            line-height: normal;
                            padding: 1px 16px 1px 16px;
                            background-color: rgb(250, 213, 10);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .title-cart{
                        font-size: 1.0rem;
                        font-weight: 400;
                        margin-top: 0 !important;
                        margin-bottom : 0 !important;
                        padding: 0.9em;
                        text-decoration: none;
                        color: black;
                    }
                    .text{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 0.9em;
                        padding-right: 0.9em;
                        border-top: 1px #E4E8EB solid;
                        
                        .price{
                            font-size: 1rem;
                            font-weight: 600;
                            color: rgb(17, 16, 16);
                            text-transform: uppercase;
                            margin-bottom: 0px !important;
                            margin-top: 0px !important;
    
                        }
                        .link{
                            font-size: 1.09rem !important;
                            font-weight: 600;
                            text-transform: uppercase;
                            text-decoration: none;
                            border: 1px #E4E8EB solid;
                            color: rgb(0, 0, 0);
                            padding: 0.4em;
                            font-family: 'Roboto Condensed';
                            font-style: normal !important;
                            &:hover{
                                background-color: rgb(221, 7, 65);
                                border: none;  
                                color: white; 
                            }
    
                        }
                    }
                    .like{
                        position: absolute;
                        top: 0; 
                        right: 0;
                        margin-top: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        width: 40px;
                        height: 40px;
                        
                        .icone{
                            font-size: 1.4em;
                            transition: all 0.3s ease;
                            text-decoration: none;
                            color: white;
    
                        }
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.3) 30%);
                        height: 100vh; // Hauteur égale à la hauteur de la fenêtre
                      
                
                      
                    
                      }
                      
                }
            }
        }
    }
}

*/