
@media all and (min-width: 820px){
    #boutique{
        width: 100%;
        .flag{
            position: absolute; 
            left: -380px;
            top: -380px;
            z-index: 2; 
            width: 40%;
        }
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            // padding-top: 4em;
            // padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 8px;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .gold{
                    width: 100%;
                    height: 0.8px;
                    background-color: #c5a459;
                }
            }
            .sponsors-container-wrap{
                width: 100%;
                height: 380px;
                background-image: linear-gradient(90deg, #06070700 10%, #060607 60%), url('https://www.basketsession.com/statics/uploads/2020/10/NBA-MURRAY-640x332.jpg');
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                .text{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-top: 1em;
                    padding-right: 1em;
                    color: white;
                    position: relative;
                    .sub{
                        display: inline-block;
                        font-family: Roboto Condensed,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    .sub-title{
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        display: block;
                        margin-top: 10px;
                        font-family: Roboto,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 1.2;
                        quotes: none;
                        width: 40%;
                        text-align: right;
                    }
                    .info{
                        font-size: 16px;
                        justify-self: flex-end;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 2em;
        
        
                    }
                }
    
            }
        }
    }
}

@media all and (max-width: 820px) and (min-width: 420px){
    #boutique{
        width: 100%;
        .flag{
            position: absolute; 
            left: -380px;
            top: -380px;
            z-index: 2; 
            width: 40%;
        }
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            padding-top: 4em;
            padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 8px;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .gold{
                    width: 100%;
                    height: 0.8px;
                    background-color: #c5a459;
                }
            }
            .sponsors-container-wrap{
                width: 100%;
                height: 380px;
                background-image: linear-gradient(90deg, #06070700 10%, #060607 60%), url('https://www.basketsession.com/statics/uploads/2020/10/NBA-MURRAY-640x332.jpg');
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                .text{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-top: 1em;
                    padding-right: 1em;
                    color: white;
                    position: relative;
                    gap: 12px;
                    .sub{
                        display: inline-block;
                        font-family: Roboto Condensed,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    .sub-title{
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        display: block;
                        margin-top: 10px;
                        font-family: Roboto,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 1.2;
                        quotes: none;
                        width: 40%;
                        text-align: right;
                    }
                    .info{
                        font-size: 16px;
                        justify-self: flex-end;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 2em;
                        text-align: right;
        
        
                    }
                }
    
            }
        }
    }
}

@media all and (max-width: 420px) and (min-width: 340px){
    #boutique{
        width: 100%;
        .flag{
            position: absolute; 
            left: -380px;
            top: -380px;
            z-index: 2; 
            width: 40%;
        }
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            padding-top: 4em;
            padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 8px;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .gold{
                    width: 100%;
                    height: 0.8px;
                    background-color: #c5a459;
                }
            }
            .sponsors-container-wrap{
                width: 100%;
                height: 380px;
                background-image: linear-gradient(90deg, #06070700 10%, #060607 60%), url('https://www.basketsession.com/statics/uploads/2020/10/NBA-MURRAY-640x332.jpg');
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                .text{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-top: 1em;
                    padding-right: 1em;
                    color: white;
                    position: relative;
                    gap: 12px;
                    .sub{
                        display: inline-block;
                        font-family: Roboto Condensed,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    .sub-title{
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        display: block;
                        margin-top: 10px;
                        font-family: Roboto,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1.2;
                        quotes: none;
                        width: 40%;
                        text-align: right;
                    }
                    .info{
                        font-size: 16px;
                        justify-self: flex-end;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 2em;
                        text-align: right;
        
        
                    }
                }
    
            }
        }
    }
}

@media all and (max-width: 340px){
    #boutique{
        width: 100%;
        .flag{
            position: absolute; 
            left: -380px;
            top: -380px;
            z-index: 2; 
            width: 40%;
        }
    
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            position: relative;
            padding-top: 4em;
            padding-bottom: 4em;
            margin: auto;
            .title-container{
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 8px;
                .title{
                    font-family: 'Roboto Condensed';
                    text-transform: uppercase;
                    display: inline-block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #0c0c0c;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: white;
                }
                .gold{
                    width: 100%;
                    height: 0.8px;
                    background-color: #c5a459;
                }
            }
            .sponsors-container-wrap{
                width: 100%;
                height: 380px;
                background-image: linear-gradient(90deg, #06070700 10%, #060607 60%), url('https://www.basketsession.com/statics/uploads/2020/10/NBA-MURRAY-640x332.jpg');
                background-position: 0% 50% center !important;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                .text{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-top: 1em;
                    padding-right: 1em;
                    color: white;
                    position: relative;
                    gap: 12px;
                    .sub{
                        display: inline-block;
                        font-family: Roboto Condensed,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    .sub-title{
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        display: block;
                        margin-top: 10px;
                        font-family: Roboto,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
                        font-size: 0.8rem;
                        font-weight: 500;
                        line-height: 1.2;
                        quotes: none;
                        width: 40%;
                        text-align: right;
                    }
                    .info{
                        font-size: 16px;
                        justify-self: flex-end;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 2em;
                        text-align: right;
        
        
                    }
                }
    
            }
        }
    }
}
