
@media all and (min-width: 620px){
.section-login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .9), rgba(255, 254, 254, .2)),
  url("https://swissbasketdemo.netlify.app/static/media/background-txt.5b25f2f85c13cdff99df.jpg");
  background-size: cover;
    .container{
      width: 90%;
      display: flex;
      padding-top: 2em;
      justify-content: center;
      .login-section{
        width: 60%;
        display: flex;
        justify-content: center;
        height: fit-content;
        .loginForm {
          width: 100%;
          padding: 0.8em;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          border-radius: 6px;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 2rem;
        
          .intro {
            text-align: center;
        
            h2 {
              font-size: 1.4em;
            }
          }
        
          .entry {
            display: flex;
            width: 100%;
            gap: 1.2em;
        
            .left {
              width: 30%;
              padding: 1em;
              .infoForm{
                font-size: 0.9rem;
                color: #767676;
                text-align: left;
                padding-bottom: 0.8rem;
              }
              .entry-item {
                margin-bottom: 20px;
        
                label {
                  display: block;
                  font-weight: bold;
                  margin-bottom: 5px;
                }

                input[type="text"],
                input[type="email"],
                input[type="date"],
                input[type="password"]{
                  padding: 10px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                  width: 90%;
                }

                .infoLabel{
                  font-size: 0.8rem;
                  text-align: left;
                  padding-top: 0.4rem;
                  color: #767676;
                }

                .error{
                  color: red;
                  font-size: 0.8rem;
                  text-align: left;
                  padding-top: 0.4rem;
                }
        
              }
        
              #forgotPassword {
                display: block;
                margin-top: 10px;
                color: #333;
                text-decoration: none;
                font-size: 14px;
                &:hover{
                  color:#707070;
                  text-decoration: underline;
                }
              }
        
              .buttons {
                margin-top: 20px;
        
                #button_form {
                  padding: 10px 20px;
                  background-color: #db0840;
                  color: #fff;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  width: 100%;
        
                  &:hover {
                    background-color: #c50535;
                  }
                }
              }
              .existUser{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0.6rem;
                .infoLabel{
                  font-size: 0.9rem;
                  color: #767676;
                  text-align: left;
                }
                a{
                  text-decoration: none;
                  color: rgb(3, 115, 174);
                  font-size: 0.9rem;
                  &:hover{
                    color: rgb(1, 53, 81);
                    text-decoration: underline;
                  }
                }
              }
            }
        
            .image {
              flex: 1;
              background-image: url('https://res.cloudinary.com/swiss-basketball/image/fetch/c_fill,g_north,f_auto,q_80,w_380,h_210/https://s3.eu-central-1.amazonaws.com/swiss.basketball/assets/swissbasket/3x3switzerlandu23men-1689242699.jpg');
              background-size: cover;
              background-position: center;
              height: 100%;
            }
          }
        }
      }
    }
}
}
@media all and (max-width: 620px){
  .section-login{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 4em;
      .container{
          width: 90%;
          height: 100%;
          display: flex;
          justify-content: center;
          padding-top: 2em;
          .login-section{
            display: flex;
            justify-content: center;
            .loginForm {
              width: 60%;
              padding: 0.8em;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: white;
              border-radius: 6px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 2rem;
            
              .intro {
                text-align: center;
            
                h2 {
                  font-size: 1.4em;
                }
              }
            
              .entry {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                gap: 1.2em;
            
                .left {
                  width: 90%;
                  .entry-item {
                    margin-bottom: 20px;
            
                    label {
                      display: block;
                      font-weight: bold;
                      margin-bottom: 5px;
                    }
            
  
                    input[type="text"],
                    input[type="email"],
                    input[type="password"]{
                      width: 100%;
                      padding: 10px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                    }
                  }
            
                  #forgotPassword {
                    display: block;
                    margin-top: 10px;
                    color: #333;
                    text-decoration: none;
                    font-size: 14px;
                  }
            
                  .buttons {
                    margin-top: 20px;
            
                    #button_form {
                      padding: 10px 20px;
                      background-color: #db0840;
                      color: #fff;
                      border: none;
                      border-radius: 5px;
                      cursor: pointer;
            
                      &:hover {
                        background-color: #c50535;
                      }
                    }
                  }
                }
            
                .image {
                  background-image: url('https://res.cloudinary.com/swiss-basketball/image/fetch/c_fill,g_north,f_auto,q_80,w_380,h_210/https://s3.eu-central-1.amazonaws.com/swiss.basketball/assets/swissbasket/3x3switzerlandu23men-1689242699.jpg');
                  background-size: cover;
                  background-position: center;
                  height: 150px;
                  width: 100%;
                }
              }
            }
          }
      }
  }
  }

  