
.section-container{
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    .custom-container{
        width: 95%;
        max-width: 1500px;
        margin: auto;
        padding-top: 1.4rem;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 2fr 10fr; /* 2 parts pour la première colonne et 10 parts pour la seconde colonne */
        gap: 1rem;
        .aside{
            grid-column: span 1;
        }
        .formContainer{
            grid-column: span 1;
        }
    }
}